mixin footer__item--20
    .footer__item--20
        h4.footer__item__title About Us
        ul.footer__about
            each footer__link, i in footer__links
                li.footer__about__item
                    a(href="")=footer__link.footer__link